/java/springcloud/example/client-demo/.classpath
/java/springcloud/example/client-demo/.project
/java/springcloud/example/client-demo/.settings
/java/springcloud/example/client-demo/target
/java/springcloud/example/server-demo/.classpath
/java/springcloud/example/server-demo/.project
/java/springcloud/example/server-demo/.settings
/java/springcloud/example/server-demo/target
